body {
  background-image: url('../background.jpeg');
}

.page-container {
  width: 100vw;
  height: 100vh; 

  display: flex;
  justify-content: center;
  align-items: center;

}

.content-container {
  width: 600px;
  padding: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.tittle{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0,48px;
  margin-bottom: 18px;
}

.subtittle{
  font-size: 15px;
  margin-bottom: 20px;
}

.input{
  border-radius: 18px;
  border: 1px solid #DCDCDC;
  background: #ffffffff;
  height: 50px;
  width: 340px;
  padding: 0 20px;
  margin-bottom: 24px;
}

.button{
  width: 375px;
  height: 50px;
  border-radius: 18px;
  background: #6e51e0;
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 24px;
}

.button_mini{
  width: 200px;
  height: 50px;
  border-radius: 18px;
  background: #6e51e0;
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 24px;
}